body, html {
    color: #444444;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

div#wrap {
    width: 70em;
    margin: 0 auto;
}

div#buttons {
    /*width: 20em;*/
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul.horizbuttons {
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border: solid #BBBBBB 1px;
    padding: 1em;
}

ul.horizbuttons > li {
      list-style-type:none; 
      /*float: left;*/
      display: inline;
      padding: 0.5em;
      /*width: 5em;*/
}

div#leftside {
    background-color: #DDDDDD;
    width: 15em;
    border-radius: 2em;
    -moz-border-radius: 2em;
    padding: 1em;
    float: left;
}

ul.menu > li.highlight {
    background-color: #99FF66;
}

ul.menu > li.selected {
    background-color: #CCFF99;
}

ul.menu {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

ul.menu > li {
      list-style-type:none; 
      /*border: 1px solid;*/
      padding-left: 1em;
}

ul.skinny {
    width: 15em;
}

div#status {
    width: 14em;
    margin: 20px 10px 5px 0px;
    padding: 5px;
    background-color: #CCCCCC;
    border-radius: 5px;
    -mox-border-radius: 5px;
}

div#output {
    background-color: #CCCCCC;
    width: 50em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    padding: 1em;
    height: 50em;
    overflow: scroll;
    float: right;
}

tr.odd {
    background-color: #BBBBBB;
}

td {
    padding: 0.3em;
}

td.songid {
    display: none;
}

